
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
*{
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(17, 36, 201);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3PX solid #18f0ff;
}

nav{
    margin-left: 30%;

}


main{
    height: 800px;
    background-image: url(./img/MainFoto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;
}

nav li{
    display: flex;

}

h1{
    font-size: 100px;

    -webkit-text-stroke: 2px #18f0ff;
}

.SubtituloMain{
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 1.5px #18f0ff;
}

main{
    justify-items: center;
}

.titulo{
    font-family: 'Orbitron', sans-serif;

}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.logo{
    max-width: 120px;
}

li a{
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    border: 2px solid #18f0ff;
    border-radius: 100px;
    padding: 10px;

    
}

.background-filmes{
background-image: url('./img/back-to-the-future_jz8-920x571.jpg');
}

.filmes{
    border: 1px solid #18f0ff;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
}

.filmes a{
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', sans-serif;;
}

.filmes p{
    padding-left: 20%;
    padding-right: 20%;
}
